.poster {
  width: 90%;
  height: 20%;
}

.poster img {
  width: 100%;
  box-shadow: 7px 7px 15px rgb(29, 53, 87);
  border-radius: 10px;
}

.poster footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
}

.poster h3, .poster p {
  margin: 0;
}