.poster {
  color: black;
}

.poster img {
  width: 100%;
  box-shadow: 7px 7px 15px rgb(29, 53, 87);
  border-radius: 10px;
}

.poster footer {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

a{
  text-decoration: none;
}

.poster h3 {
  margin: 0;
  text-align: center;
}